@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --color_principal: #eee;
  --color_fondo: #222;
  --color_perder: #8b4848;
  --fuente: "Press Start 2P", system-ui;
  --bg_btn: #ccc;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: var(--color_fondo);
  color: var(--color_principal);
  font-family: var(--fuente);
}

h1 {
  font-size: 4rem;
}
p {
  font-size: 1.8rem;
}

/* utilidades */
.container {
  margin: 0 auto;
  max-width: 70%;
}
.btn {
  border: none;
  font-family: inherit;
  padding: 2rem 3rem;
  font-size: 2.4rem;
}
.btn:hover {
  background-color: var(--bg_btn);
  cursor: pointer;
}
/* header */
header {
  border-bottom: 4px solid var(--color_principal);
  text-align: center;
  height: 36rem;
  position: relative;
  margin-bottom: 20rem;
}
.header_first_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 10rem;
}
.header_first_part p {
  font-size: 1rem;
}
.number {
  font-size: 5rem;
  background-color: var(--color_principal);
  color: var(--color_fondo);
  width: 15rem;
  padding: 3rem 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* main */
main {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  display: flex;
  flex-direction: column;
}
.left {
  row-gap: 4rem;
}
.right {
  row-gap: 3rem;
}
.guess {
  padding: 2rem 0;
  background: none;
  border: 4px solid var(--color_principal);
  outline: none;
  text-align: center;
  color: inherit;
  font-family: inherit;
  width: 25rem;
  height: 10rem;
  font-size: 4rem;
}
.message {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

/* Responsive */
/* Mobile */
@media (max-width: 968px) {
  /* Header */
  header {
    height: 44rem;
  }
  .header_first_part {
    flex-wrap: wrap;
    row-gap: 4rem;
    margin-bottom: 8rem;
  }
  .header_first_part button,
  .header_first_part p {
    flex: 100%;
  }
  /* Main */
  main {
    flex-direction: column;
    padding-bottom: 10rem;
  }
  .right {
    margin-top: 5rem;
  }
  .guess {
    width: 100%;
  }
}
